:root {
  --purple: #551A8B;
  --blue: #0000EE;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: normal 12pt/16pt sans-serif;
  padding: 72pt;
}
.content {
  max-width: 640px;
  margin: 0 auto;
}
.home {
  display: block;
  transform: rotate(180deg);
  float: left;
  text-decoration: none;
  font-size: 16pt;
  line-height: 16pt;;
}
a {
  color: var(--blue);
}
a:visited {
  color: var(--purple);
}
h1 {
  clear: both;
  margin-top: 36pt;
  font: normal 18pt/24pt sans-serif;
}
h2 {
  margin: 32pt 0 0;
  font: normal 16pt/21pt sans-serif;
}
h3 {
  margin: 18pt 0 0;
  font: normal 14pt/21pt sans-serif;
  color: #999;
}
p {
  margin: 6pt 0;
}
b {
  font-weight: normal;
  background: #FF0;
}
blockquote {
  margin: 6pt 0;
  border-left: 1px solid black;
  padding: 0 0 0 6pt;
}
dl {
  margin: 12pt 0 12pt 18pt;
}
dt {
  font-weight: bold;
  margin: 6pt 0 3pt;
}
dd {
  margin: 3pt 0 6pt 18pt;
}
ul, ol {
  margin: 12pt 0 12pt 36pt;
}
li {
  margin: 6pt 0;
}
img {
  display: block;
  width: 100%;
  margin: 12pt auto;
  border: 1px solid #CCC;
  border-style: solid none;
  padding: 36pt 10%;
}
img.full {
  padding: 0;
  border: 0;
  width: 100%;
}
nav {
  margin: -6pt 0 0;
  columns: 2;
}
nav a {
	display: block;
  position: relative;
  text-decoration: none;
}
nav a img {
  margin: 0 0 12pt;
  padding: 0;
  border: 0;
  width: 100%;
}
nav a h4 {
  position: relative;
  top: 20pt;
  left: 3pt;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10pt;
  line-height: 10pt;
  color: #999;
  margin: 0 0 3pt;
  padding: 0;a
}
nav a h4 span {
  color: white;
  background: var(--blue);;
  padding: 3pt 4pt;
}
nav a:visited h4 span {
  background: var(--purple);;
}
nav a.no {
  filter: grayscale(1);
  opacity: 0.33;
}
nav a.no:hover {
  filter: grayscale(0);
  opacity: 0.67;
}
nav + nav {
  margin-top: 0;
}

table {
  border-collapse: collapse;
  margin: 12pt 0;
}
th {
  text-align: left;
  padding: 0 12pt 12pt 0;
  white-space: nowrap;
  vertical-align: top;
}
th.numeric {
  text-align: center;
}
td {
  padding: 0 18pt;
  text-indent: -18pt;
  vertical-align: top;
}
td img {
  width: 18pt;
  border: 0;
  margin: 0;
  padding: 0 6pt 0 0;
  display: inline;
}
td.numeric {
  text-align: right;
  padding-right: 24pt;
}

@media (max-width: 832px) {
  body {
    padding: 11.5vw;
  }
}
