<!doctype html>
<html>
  <head>
    <title>{% if title %}{{ title }} - {% endif %}Software Commons</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      @import url("/style.css");
    </style>
  </head>
  <body>
    <div class="content">
      <p style="padding-bottom: 36pt">
        <a href="/">Home</a> -
        <span style="color: red">DRAFT</span> -
        <a href="https://github.com/getsentry/fsl.software/issues/2"
          >discuss on GitHub</a
        >
      </p>
      {% if not homepage %}
      <a class="home" href="..">⤵️</a>
      {% endif %}
      <h1>{{ title }}</h1>
			{% block content %}{%endblock %}
    </div>
  </body>
</html>
